<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.mapper.UserMapper">

    <select id="getUserList" resultType="com.jiang.vo.User" parameterType="map">
        select u.user_id,u.emp_name,u.sex,u.age,u.dept_name,u.emp_degree_name from user u
        <where>
            <if test="empName != null and empName != '' ">
                and  u.emp_name like CONCAT('%',#{empName},'%')
            </if>
            <if test="deptName != null and deptName != '' ">
                and  u.dept_name like CONCAT('%',#{deptName},'%')
            </if>
            <if test="empDegreeName != null and empDegreeName != '' ">
                and  u.emp_degree_name like CONCAT('%',#{empDegreeName},'%')
            </if>
        </where>
        order by u.created_time desc
    </select>

</mapper>
